html {
    height: 100%;
	width: 100%;
	font-size: 95%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helevetica, sans-serif;
	cursor: default;
	overflow: hidden;
	top: 0;
	position: relative;
}

/* msg frame */

#msg_frame {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
}

#msg_content {
  width: 150px;
  height: 80px;
  margin-left: -75px;  /***  width / 2   ***/
  position: absolute;
  top: -40px;          /***  height / 2   ***/
  left: 50%;
}

#loading_img {
    text-align: center;
}

#loading_text {
    text-align: center;
    color: #7a7a7a;
}

/* main */

#main_pane {
    float: left;
    width: 70%;
    margin: 10px;
}
#main_header {
    font-size: 30px;
}
#next_event {}
#event_header {}
#event_type {}
#event_location {}
#event_person {}
#event_title {}
#event_start {}
#event_timer {}
#event_abstract {}

/* detail */

#detail_pane {
    margin: 10px;
    margin-left: 70%;
    float: none;
    border: 1px solid #8585be;
}

.dateEvents {}
.dateHeader {
    padding: 5px;
    background-color: #d3d3d3;
}

.event {}
.eventTime {}
.eventPerson {}
.eventTitle {
}
.eventLocation {}


