html {
    height: 100%;
	width: 100%;
	font-size: 95%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helevetica, sans-serif;
	cursor: default;
	overflow: hidden;
	top: 0;
	position: relative;
}

/* msg frame */

#msg_frame {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
}

#msg_content {
  width: 150px;
  height: 80px;
  margin-left: -75px;  /***  width / 2   ***/
  position: absolute;
  top: -40px;          /***  height / 2   ***/
  left: 50%;
}

#loading_img {
    text-align: center;
}

#loading_text {
    text-align: center;
    color: #7a7a7a;
}

/* main */

#main_pane {
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding: 10px;
}
#main_header {
    font-size: 30px;
}
#next_event {}
#event_header {
}
#event_header_main {
    float: left;
}
#event_type {
    padding-bottom: 5px;
}
#event_location {
    padding-bottom: 5px;
}
#event_person {
    padding-bottom: 5px;
}
#event_title {
    padding-bottom: 5px;
}
#event_start {
    padding-bottom: 5px;
}
#event_timer {
    text-align: right;
}
#event_abstract {
    clear: left;
    padding-top: 15px;
}

/* detail */

#detail_pane {
    box-sizing: border-box;
    margin: 5px;
    margin-left: 70%;
    float: none;
    border-left: 1px solid #8585be;
    border-right: 1px solid #8585be;
}

.dateEvents {}
.dateHeader {
    padding: 5px;
    background-color: #d3d3d3;
}

.event {
    padding: 10px;
    border-bottom: 1px solid #8585be;
}
.eventTime {
    font-style: italic;
}
.eventPerson {
    margin-bottom: 5px;
}
.eventTitle {
    padding-left: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
}
.eventLocation {
    padding-left: 10px;
    margin-top: 3px;
}


